<div class="row">
    <div class="col-6 col-md-2">
        <div class="origen">
            <div class="dropdown"><button class="btn btn-secondary dropdown-toggle" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Origen
                </button>

                <ul class="dropdown-menu dropdown-menu-dark">
                    <li *ngFor="let row of tableData2"><a [ngClass]="'dropdown-item'" href="#">{{row.name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-2">
        <div class="ejemplares">Ejemplares</div>
        <div class="count"><app-count-animals></app-count-animals></div>
    </div>


<div class="row" >
    <div *ngFor="let row of tableData" [ngClass]="'col-sm-12 col-md-4 families'"><img [ngClass]="'img_families'" src="../assets{{row.imgUrl}}"></div>
</div>